@import "../modules/m-price";
@import "../modules/m-big-desc";
@import "../modules/m-tools";
@import "../modules/m-slider-controls";

.slider {
    background-color: #000;
    background-image: url('../img/slider0.jpg');
    background-repeat: no-repeat;
}
