.full-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    width: 65%;
    margin: 0 auto;
}

@import "l-header.scss";
@import "l-slider.scss";
@import "l-specials.scss";
@import "l-products.scss";
@import "l-footer";
