@mixin lable-price($background,$height:70px,$width:70px) {
	background-color: $background;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
    font: bold 13px 'Arial', sans-serif;
    height: $height;
    padding: 27px 0;
    text-align: center;
    width: $width;
}
