.big-desc {
    background-color: rgba(237, 236, 231, 0.6);
    float: right;
    padding: 70px 40px 90px;
    width: 40%;
}

.big-desc h2 {
    font-size: 40px;
    font-weight: normal;
}

.big-desc > p {
    font-size: 20px;
}
