.price {
    background-color: #57c5a0;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
    font: bold 13px 'Arial', sans-serif;
    height: 70px;
    padding: 27px 0;
    text-align: center;
    width: 70px;
}

.slider-price.price {
    position: static;
}
