.shoes-tittle {
	margin-top: 30px;
	font-weight:normal;
	float: left;
}

.btn-show {
	margin-top: 16px;
	color: #bcb5a7;
	border: 1px solid #bcb5a7;
	box-sizing: border-box;
	float: right;
	padding: 1.6% 2.12%;
}

.shoes {
	margin-top: 25px;

}

.items {
	background-color: #FFF;
	display: inline;
	float: left;
	margin-left: 2.12%;
	position: relative;
	width: 31.9%;
	img {
			width:100%;
		}
}

.items:first-child {
    margin-left: 0;
}

.item-brand {
	background-color: #fff;
	border-top: 2px solid #ccc;
	padding: 5% 0% 5% 30%;
	width:70%;

}

.item-menu {
	background-color: #fff;
	border-top: 2px solid #ccc;
	padding: 5% 0% 5% 30%;
	width:70%;

}

.price {
	position: absolute;
	top:191px;
	left:2%;
}

.onsale {
	@include lable-price(#000,$height:70px,$width:70px);
	position: absolute;
	top:0;
	left:72%;
}

.outstock {
	@include lable-price(#f27e4b,$height:70px,$width:70px);
	position: absolute;
	top:0;
	left:72%;
}

//state
.items:hover {


}
