.wish-list {
    border-right: 1px solid #ADADAD;
    padding: 25px 18px 20px;
    display: inline;
    position: relative;
    top: 24px;
    left: 162px;
}

.wish-list > p {
	background-color: #ADADAD;
    border-radius: 8px;
    display: inline;
    color: white;
    padding: 6px;
    margin: 8px;
    left: 25px;
}
